@import "./common/global.less";

.rs-view {
  background: #fff;
  color: #111827;

  .h1_block {
    padding-top: 76px;
    padding-bottom: 18px;
    border-bottom: 2px solid #111827;
  }

  h1 {
    font-size: 30px;
    font-weight: 780;
    color: #111827;
  }

  .h1_block > h1 + p {
    color: #374151;
    font-weight: 600;
  }

  .lr-container {
    padding-top: 10px;
    color: #374151;
  }

  .resume-section-title,
  h2 {
    color: #111827;
    border-bottom: 1px solid #9ca3af;
    font-size: 15px;
  }

  strong {
    color: #111827;
  }

  .entry-title,
  h3 {
    color: #111827;
  }

  .resume-entry-role {
    color: #374151;
  }

  .resume-entry-date,
  .entry-date {
    color: #374151;
  }

  p,
  ul li,
  ol li {
    color: #1f2937;
  }
}
